<div class=" mdl-grid  top-bottom-margin">
  <!-- <div class="mdl-layout-spacer"></div> -->
  <div class="video-card mdl-cell mdl-cell--6-col mdl-typography--text-center">
    <video width="auto" height="100%" controls>
      <source src="../video/video.webm" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="video-card mdl-cell mdl-cell--4-col mdl-typography--text-center">
    <div class="video-card  mdl-card mdl-shadow--16dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text mdl-typography--text-center">
          Creating a zip
        </h2>
      </div>
    </div>
  </div>
  <!-- <div class="mdl-layout-spacer"></div> -->
</div>
<!-- <script src="../js/upload_file.js"></script> -->
