<div class="centeritems mdl-grid top-bottom-margin  ">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
    <div class="demo-card-square mdl-card mdl-shadow--16dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text mdl-typography--text-center">
          DSP Lab Minor 1
        </h2>
      </div>
      <h1>Thank You!!</h1>
      <div class="mdl-card__actions mdl-card--border">
        <a href="http://10.5.0.93"
          ><button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            type="submit"
          >
            Resubmit
          </button></a
        >
      </div>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
<!-- <script src="../js/upload_file.js"></script> -->
